Options -Indexes

# Запрет выполнения PHP в каталоге загрузок
<FilesMatch "(?i)\.php$">
  <IfModule mod_authz_core.c>
    Require all denied
  </IfModule>
  <IfModule !mod_authz_core.c>
    Deny from all
  </IfModule>
</FilesMatch>
