DirectoryIndex index.php

<IfModule mod_headers.c>
  Header set X-Robots-Tag "noindex, nofollow, noarchive, nosnippet"
  Header set X-Content-Type-Options "nosniff"
  Header set X-Frame-Options "DENY"
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^template/ - [F,L]
</IfModule>
